.header-container{
	background-color: rgb(30, 30, 30);
	height: 85px
}

.header-logo{
	height: 85px
}

.search{
	display: inline-block;
	margin: 25px 0px 0px 0px;
	width: 650px;
	height: 33px;
	padding: 0 15px;
	border: 2px solid gray;
	border-radius: 7px;
	font-size: 14px;
	background-image: url('C:/Users/vikne/Desktop/ecomm/ecomm/src/search.png');
	background-position: right;
	padding-right: 30px;
	background-size: 22px;
	background-repeat: no-repeat
}
